
<div class="navbar xnavbar-inverse">
    <div class="navbar-inner">
        <span class="brand pull-right">Simple Canvas</span>
        <ul class="nav pull-left">
            <!--Color Picker-->
            <li class="dropdown colorPicker">
                <a id="drop1" href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="icon icon-white icon-tint" style="color:<%= curColor %>"></i>
                    Color
                    <b class="caret"></b>
                </a>
                <div class="dropdown-menu" id="ColorPicker">Color Picker Goes Here.</div>
            </li>

            <!--Shape Picker-->
            <li class="dropdown shapePicker">
                <a href="javascript:void(0);" id="drop2" role="button" class="dropdown-toggle" data-toggle="dropdown">
                    <% if(curShape === 'square') { %>
                        <i class="icon icon-white icon-stop"></i>
                    <% } else if(curShape === 'circle') { %>
                    <i class="icon icon-white icon-circle"></i>
                    <% } %>
                    Shape
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li
                        <% if(curShape === 'square') { %>
                            class="active"
                        <% } %>
                    ><a tabindex="-1" href="javascript:void(0);" class='pickSquare'>
                        <i class="icon icon-stop"></i>
                        Square
                    </a></li>
                    <li
                        <% if(curShape === 'circle') { %>
                            class="active"
                    <% } %>
                    ><a tabindex="-1" href="javascript:void(0);" class='pickCircle'>
                        <i class="icon icon-circle"></i>
                        Circle
                    </a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>



<section class="drawingArea" id="DrawingArea">
    <p>Current Shape: <%= curShape %></p>
    <p>Current Color: <%= curColor %></p>
</section>



